body{background: #eddaff}

.italic{
    font-style: italic
}

.bold{
    font-weight: bold;
}

.letterSpacing{
    letter-spacing: .2rem;
}

.disc{
   list-style-type:disc;
}

.square {
    list-style-type:square;
}